@font-face {
    font-family: 'Google-Sans';
    src: url(..//fonts/sans/GoogleSans-Regular.woff2) format('woff2'),
    url(..//fonts/sans/GoogleSans-Regular.woff) format('woff');
    font-weight: 400;
    font-style: normal;
}
@font-face {
    font-family: 'Google-Sans';
    src: url(..//fonts/sans/GoogleSans-BoldItalic.woff2) format('woff2'),
    url(..//fonts/sans/GoogleSans-BoldItalic.woff) format('woff');
    font-weight: 700;
    font-style: italic;
}
@font-face {
    font-family: 'Google-Sans';
    src: url(..//fonts/sans/GoogleSans-Italic.woff2) format('woff2'),
    url(..//fonts/sans/GoogleSans-Italic.woff) format('woff');
    font-weight: 400;
    font-style: italic;
}
@font-face {
    font-family: 'Google-Sans';
    src: url(..//fonts/sans/GoogleSans-Medium.woff2) format('woff2'),
    url(..//fonts/sans/GoogleSans-Medium.woff) format('woff');
    font-weight: 500;
    font-style: normal;
}


@font-face {
    font-family: 'Poppins';
    src: url(..//fonts/poppins/Poppins-Bold.woff2) format('woff2'),
    url(..//fonts/poppins/Poppins-Bold.woff) format('woff');
    font-weight: 700;
    font-style: normal;
}
@font-face {
    font-family: 'Poppins';
    src: url(..//fonts/poppins/Poppins-Medium.woff2) format('woff2'),
    url(..//fonts/poppins/Poppins-Medium.woff) format('woff');
    font-weight: 500;
    font-style: normal;
}
@font-face {
    font-family: 'Poppins';
    src: url(..//fonts/poppins/Poppins-SemiBold.woff2) format('woff2'),
    url(..//fonts/poppins/Poppins-SemiBold.woff) format('woff');
    font-weight: 600;
    font-style: normal;
}
@font-face {
    font-family: 'Poppins';
    src: url(..//fonts/poppins/Poppins-Regular.woff2) format('woff2'),
    url(..//fonts/poppins/Poppins-Regular.woff) format('woff');
    font-weight: 400;
    font-style: normal;
}


@font-face {
    font-family: 'Volkhov';
    src: url(..//fonts/volkhov/Volkhov-Bold.woff2) format('woff2'),
    url(..//fonts/volkhov/Volkhov-Bold.woff) format('woff');
    font-weight: 700;
    font-style: normal;
}
@font-face {
    font-family: 'Volkhov';
    src: url(..//fonts/volkhov/Volkhov-BoldItalic.woff2) format('woff2'),
    url(..//fonts/volkhov/Volkhov-BoldItalic.woff) format('woff');
    font-weight: 700;
    font-style: italic;
}
@font-face {
    font-family: 'Volkhov';
    src: url(..//fonts/volkhov/Volkhov-Italic.woff2) format('woff2'),
    url(..//fonts/volkhov/Volkhov-Italic.woff) format('woff');
    font-weight: 400;
    font-style: italic;
}
@font-face {
    font-family: 'Volkhov';
    src: url(..//fonts/volkhov/Volkhov-Regular.woff2) format('woff2'),
    url(..//fonts/volkhov/Volkhov-Regular.woff) format('woff');
    font-weight: 400;
    font-style: normal;
}
@font-face {
    font-family: 'OpenSans';
    src: url(..//fonts/open_sans/OpenSans-Semibold.woff2) format('woff2'),
    url(..//fonts/open_sans/OpenSans-Semibold.woff) format('woff');
    font-weight: 600;
    font-style: normal;
}


body {
    /* Если шрифт не подгрузился, используем системный без засечек */
    font-family: 'Google-Sans', sans-serif; 
}

.head{
    max-width: 1440px; 
    margin: 0 auto;    
    padding: 0;  
    width: 100%;    
    background-image: url('../images/Decore1.svg');
    background-repeat: no-repeat;
    background-position: right top;
}

.header {
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 3rem 9rem 0 7.5rem;
    max-width: 72.5rem;
    margin: auto;
    position: relative;
    flex-wrap: wrap;
    gap: 15px;
}

.header__logo img {
    width: 7.2rem;
    height: 2.125rem;
}

.decore1{
    position: absolute;
    z-index: -1;
    top: -6.25rem;
    left: 50%;
} 

.nav-list {
    display: flex;
    list-style: none;
    gap: 2.5rem;
    margin: 0;
    padding: 0;
}

.nav-list a {
    font-family: 'Google-Sans', sans-serif; 
}

.nav-list__link {
    text-decoration: none;
    color: #212832;
    font-size: 1.0625rem;
    max-width: max-content;
    display: inline-block;
    line-height: 2.5rem;
    font-weight: 500;
}

.header__actions {
    display: flex;
    align-items: center;
    gap: 1.875rem;
}

.btn-signup {
    border: 0.0625rem solid #212832;
    border-radius: 0.3125rem;
    background: transparent;
    font-family: 'Google-Sans', sans-serif;
    font-size: 1.0625rem;
    font-weight: 500;
    min-width: 110px;
    min-height: 45px;
    color: #212832;
    cursor: pointer;
    display: flex;
    align-items: center;
    justify-content: center;
    padding: 0; 
    transition: transform 1s;
}

.btn-signup:hover{
    transform: scale(1.05);
}

.lang-select {
    display: flex;
    align-items: center;
    gap: 0.3125rem;
    font-size: 1.0625rem;
    font-weight: 500;
    cursor: pointer;
}

.lang-select span {
    width: 1.4375rem;
    height: 1.375rem;
    display: inline-block;
}

/*lkfvnfdklgnlkxjvlhfxkxghkkjfhgjfhjghfjkhgjgfjkghkcfjgkfhgjkhfjkghkjcfhjkghcfjkgkhfjkcjkнкеаааааааан
рпрорпfkoskgprtdmgpmpmdprgopkropdgkorpkdgopkfopgporkdopgkopkfodkglkrdogkopkfdopgkfopdgkporkdpokpgorkpdkgp
gdroropkopgkopdkgoprkpokdropkgpokfkgporkodgkflkgpodrkgdlfkgpordkgolkdporkdogpklfgkpordkgplfkgopkrdopgkldfgopdd
rgkdokprkgopkd;glrkopgkdorkgorkg;dokgo;rk;dkor;gko;rdk;grkdo;gko;dkrogko;dr;gk;dkl;fgko;rdkgk;gdrkog;kdl;gkro;*/

.hero {
    max-width: 1200px;
    margin: 0 auto;
}

.hero_content {
    max-width: 100%;
    min-height: 764px;
    padding-left: 70px;
    margin-inline: auto;
    position: relative;
    font-family: 'Poppins', sans-serif;
    display: flex;
    align-items: center;
}

.hero__image {
    object-fit: contain;
    height: auto;
    max-width: 50%;
}

.hero_text {
    width: 630px;
    padding: 112px 0px 117px 0px;
}

.hero_text h1 {
    color: #DF6951;
    font-size: 20px;
    line-height: auto;
    font-weight: 700;
    width: 410px;
    text-transform: uppercase;
}

.hero_text h2 {
    color: #181E4B;
    font-size: 84px;
    line-height: 89px;
    font-weight: 700;
    max-width: 545px;
    letter-spacing: -4%;
    margin-top: 24px;
    font-family: 'Volkhov', sans-serif;
}

.hero_text p {
    color: #5E6282;
    font-size: 16px;
    line-height: 30px;
    font-weight: 500;
    max-width: 477px;
    margin-top: 30px;
}

.buttons_hero {
    margin-top: 34px;
    display: flex;
    gap: 44px;
    width: 379px;
    height: 60px;
}

.Find {
    color:white;
    font-family: 'Google-Sans', sans-serif; 
    min-width: 170px;
    font-weight: 500;
    font-size: 18px;
    padding: 19px 26px 18px 27px;
    background:#F1A501;
    border-radius: 10px;
    border: 0;
    transition: transform 0.3s;
    

}

.Find:hover{
    transform: scale(1.05);
    opacity: 80%;
}

.Play {
    display: flex;
    align-items: center;
    gap: 21px;
    max-width: 165px;
    height: 52px;
    padding: 0px;
    background: 0;
    border: 0; 
}

.play__iconka{
    max-width: 52px;
    padding-top: 38px;
    display: flex;
    align-items: center;
    justify-content: center;
    transition: transform 0.3s;
}

.play__iconka:hover{
    transform: scale(1.05);
    opacity: 80%;
}

.play__text {
    width: 92px;
    padding: 30px 0px 11px 0px;
    white-space: nowrap; 
    font-size: 17px;
    font-weight: 500;
    line-height: auto;
    color: #686D77;
}

/*воашдычошпддаочлптадлптдчоалполдчаоплчадопдлоадлполаодчпffgnjdngjoirjodijriojoirdoihiojihojdoioirhjod */


.services_content {
    width: 1300px;
    min-height: 525px;
    padding: 0;
    padding-top: 90px;
    position: relative;
    margin-inline: auto;
    font-family: 'Poppins', sans-serif;
}

.services_content h2 {
    font-weight: 600;
    color: #5E6282;
    font-size: 18px;
    line-height: auto;
    text-align: center;
}

.services_content h3 {
    font-weight: 700;
    color: #14183E;
    font-size: clamp(32px, 6vw, 50px);
    line-height: auto;
    font-family: 'Volkhov', sans-serif;
    text-align: center;
    margin: 0;
}

.image__services {
    position: absolute;
    top: 0;
    right: 0;
    z-index: -1;
}

.best__services {
    display: flex;
    justify-content: center;
    align-items: center; 
    gap: 75px; 
    width: 100%;
}

.services__card {
    width: 190px; 
    padding: 40px 10px;
    display: flex;
    flex-direction: column;
    align-items: center;
    text-align: center;
    position: relative;
    background: transparent;
}

.services__icon-wrapper {
    height: 85px;
    display: flex;
    align-items: center;
    justify-content: center;
    margin-top: 25px;
}

.services__icon-wrapper img {
    max-width: 100%;
    max-height: 100%;
    object-fit: contain;
}

.services__card h4 {
    font-weight: 600;
    color: #1E1D4C;
    font-size: 20px;
    line-height: normal;
    font-family: 'OpenSans', sans-serif;
    margin-bottom: 5px;
}

.services__card p {
    font-weight: 500;
    color: #5E6282;
    font-size: 16px;
    line-height: 26px;
    max-width: 181px;
}

/* 2 */
.services__card--featured {
    width: 230px;
    padding: 45px 25px;
}

.services__decore {
    position: absolute;
    z-index: -1; 
    left: -58px;
    bottom: -155px;
    max-width: 400px; 
    min-height: 100px;
    object-fit: contain;
}

.services__icon-wrapper_2{
    width: 137px;
    height: 117px;
    object-fit: contain;
}

/*cjzsjclnclzjdljidhdfocejpofjiehifjiefojseijfojeopjfiehiofhioejfijoeshfiojsoepijfpjse*/

.Destinations_content {
    min-height: 617px;
    max-width: 100%;
    margin: 0 auto;
    font-family: 'Poppins', sans-serif;
    position: relative;
    text-align: center;
    top: 50px;
}

.Destinations_content h2 {
    font-weight: 600;
    font-size: 18px;
    color: #5E6282;
    margin-bottom: 8px;
}

.Destinations_content h3 {
    font-weight: 700;
    font-size: clamp(32px, 6vw, 50px);
    color: #14183E;
    font-family: 'Volkhov', sans-serif;
    margin-bottom: 60px;
    margin-top: 0;
}

.Dest__block {
    display: flex;
    justify-content: center;
    gap: 45px;
    flex-wrap: wrap;
}

.Dest-card {
    width: 315px;
    background: #FFFFFF;
    border-radius: 24px;
    box-shadow: 0px 100px 80px rgba(0, 0, 0, 0.04), 
                0px 20px 20px rgba(0, 0, 0, 0.02);
    text-align: left;
    transition: transform 2s;
}

.Dest-card:hover{
    transform: translateY(-10px);
}

.Dest-card_img {
    width: 475px;
    height: 330px;
    object-fit: cover;
    object-position: top; 
    display: block;
    margin-left: -80px;  
}

.Dest-card_bottom {
    padding: 20px 25px 30px 25px;
    display: grid;
    grid-template-columns: 1fr auto; 
    align-items: center;
    row-gap: 20px;
}

.Dest-card_bottom_1 {
    grid-column: 1;
    color: #5E6282;
    font-size: 18px;
    font-weight: 500;
    margin: 0;
}

.Dest-card_bottom_2 {
    grid-column: 2;
    color: #5E6282;
    font-size: 18px;
    font-weight: 500;
    margin: 0;
}

.Dest-card_bottom img {
    grid-column: 1;
    width: 20px;
    height: 20px;
    justify-self: start;
    margin-right: 10px;
    display: inline-block;
    vertical-align: middle;
    position: absolute;
    margin-top: 42px;
}

.Dest-card_bottom_3 {
    grid-column: 1 / span 2;
    color: #5E6282;
    font-size: 16px;
    font-weight: 500;
    margin: 0;
    display: flex;
    align-items: center;
}

.Dest-card_bottom_3::before {
    content: "";
    display: inline-block;
    width: 20px;
    height: 20px;
    margin-right: 15px;
}

.Dest__Decore {
    position: absolute;
    right: 10%;
    top: 50%;
    z-index: -1;
}



/*fsepmgpsmrpmgpmrpgpskoprmopmpvtprtopkbrpeoyopekbopyoptrkopykboptypglrpvlelgp[le[t[v*/

.Book-section{
    padding: 120px 0 0 0;
}

.Book_content{
    max-width: 1200px;
    margin: 0 auto;
    font-family: 'Poppins', sans-serif;;
    display: flex; 
    justify-content: space-between;
    align-items: center; 
    flex-wrap: wrap;
}

.Book_a_trip {
    max-width: 100%;
}

.Book_a_trip h2{
    font-weight: 600;
    font-size: 18px;
    color: #5E6282;
    margin-top: 0;
    margin-bottom: 15px;
    text-transform: uppercase;
}

.Book_a_trip h3{
    font-family: 'Volkhov', sans-serif;
    max-width: 513px;
    line-height: auto;
    font-weight: 700;
    color: #14183E;
    margin-top: 0;
    font-size: clamp(32px, 6vw, 50px);
}

.Book_Values{
    display: flex;
    list-style: none;
    flex-direction: column;
    padding: 0;
    margin: 0;
    gap: 45px;
}

.trip-step{
    display: flex;
    align-items: flex-start; 
}

.step_img{
    flex-shrink: 0;      
    display: flex;
    justify-content: center;
    align-items: center;
    margin-right: 21px;
}

.step_text{
    display: flex;
    flex-direction: column;
}

.step_text h4{
    line-height: 124.5%;
    font-weight: 700;
    font-size: 16px;
    color: #5E6282;
    margin: 0;
}

.step_text p{
    max-width: 327px;
    line-height: 124.5%;
    font-weight: 400;
    font-size: 16px;
    color: #5E6282;
    margin: 0;
}

.Book_image{
    position: relative;
    flex: 0 1 500px; 
    display: flex;
    width: 100%;
    justify-content: center;
    transform: translateY(50px); 
    height: 400px;
}

.Book_image_image{
    position: relative;
    z-index: 2; 
    width: 120%; 
    object-fit: cover;  
    object-position: top; 
}

.Book_image::after {
    content: "";
    position: absolute;
    z-index: 1;
    top: 10%;
    right: 10%;
    width: 300px;
    height: 300px;
    background-color: #59B1E6;
    opacity: 0.4;
    filter: blur(70px);
    pointer-events: none; /* Чтобы фон не мешал кликам */
}


/*psrjtopjrdimig muijtoi j,oijfodbjij,hioj iodjioj[b,hihjiod,jboijfdoijfiodbj,dvjdiogdjfho oigfjio*/

.testimonials {
    display: flex;
    justify-content: space-between;
    align-items: flex-start;
    max-width: 1200px;
    margin: 0 auto;
    gap: 60px;
    margin-top: 186px;
    font-family: "Poppins", sans-serif;
    margin-bottom: 96px;
    flex-wrap: wrap;
}

.testimonials_1 {
    flex: 1 1 400px;
}

.testimonials_2 {
    flex: 1 1 550px;
    margin-right: 135px;
    position: relative; 
    height: 356px;
}

.testimonials_2_1, .testimonials_2_2 {
    position: absolute;
    padding: 30px;
    border-radius: 10px;
    background: #fff;
    width: 100%;
    max-width: 504px;
    max-height: 245px;
}

.testimonials_2_1 {
    z-index: 2;
    top: 0;
    left: 0;
    box-shadow: 0 20px 50px rgba(0,0,0,0.1);
}

.testimonials_2_1 > img {
    position: absolute;
    top: -35px;
    left: -35px;
}

.testimonials_2_2 {
    z-index: 1;
    top: 124px;
    left: 48px;
    border: 1px solid #f0f0f0;
}

.Pagination {
    position: absolute;
    right: -110px;
    top: 50%;
    transform: translateY(-50%);
}

.testimonials_1 h2{
    color: #5E6282;
    max-width: 128px;
    line-height: auto;
    font-weight: 600;
    font-size: 18px;
    margin-top: 0;
    margin-bottom: 8px;
}

.testimonials_1 h3{
    font-family: "Volkhov", sans-serif;
    color: #14183E;
    max-width: 409px;
    line-height: auto;
    font-weight: 700;
    font-size: 50px;
    margin-top: 0;
    margin-bottom: 82px;
}

.textials_1, .textials_2, .textials_3{
    color: #5E6282;
    margin-top: 0;
    font-weight: 500;
}

.textials_1, .textials_2_1{
    max-width: 402px;
    line-height: 32px;
    font-size: 16px;
    margin-bottom: 34px;
    margin-top: 18px;
}

.textials_2{
    max-width: 101px;
    line-height: auto;
    font-weight: 600;
    font-size: 18px;
    margin-bottom: 5px;
}

.textials_3{
    max-width: 116px;
    line-height: auto;
    font-size: 14px;
}

.textials_2_1, .textials_2_2, .textials_2_3{
    color: #5E6282;
    margin-top: 0;
    font-weight: 500;
}

.textials_2_2{
    max-width: 127px;
    line-height: auto;
    font-weight: 600;
    font-size: 18px;
    margin-bottom: 5px;
}

.textials_2_3{
    max-width: 127px;
    line-height: auto;
    font-size: 14px;
}

/*iewjrsgjrobidtfr0veotmoifmuer0v9tum5f9vrtm095foimujrtoigmu5jr9oieutjgmkfi5orjtk9foeu*/

.logos {
    max-width: 1100px;
    margin: 0 auto 111px auto; 
}

.logos_list {
    width: 100%;
    list-style: none;
    display: flex;
    flex-direction: row;
    align-items: center; 
    justify-content: center; 
    gap: 80px;
    flex-wrap: wrap;
    min-height: 162px;
    padding: 0; 
}

.log_1, .log_2, .log_4, .log_5 {
    filter: grayscale(100%);
}

.log_1:hover, .log_2:hover, .log_4:hover, .log_5:hover {
    filter: grayscale(0%);
}

/*isrjgoilkfuv9itgyrnehugihruithvgirhuighv rdvythoifkryijkntfjvrivnydtfjrhdtfh*/


.sub {
    display: flex;
    justify-content: center;
    width: 1200px;
    min-height: 490px;
    margin: 0 auto;
}

.sub1{
    margin: 0 auto;
    position: relative; 
    width: 1200px;
    left: 0;
    margin-bottom: 146px;
}

.subscribe {
    position: relative; 
    display: flex;
    flex-direction: column;
    align-items: center;
    text-align: center;
    width: 90%;
    height: 407px;
    background: url('../images/Fiol_decore.svg');
}

.subscribe h2{
    font-family: "Poppins", sans-serif;
    color: #5E6282;
    line-height: 54px;
    font-weight: 600;
    font-size: 33px;
    max-width: 859px;
    margin-left: 88px;
    margin-top: 79px;
    margin-bottom: 74px;
}

.Telega {
    position: absolute;
    top: -10px;
    right: -10px;
}

.sub_content {
    display: flex;
    gap: 24px;
    justify-content: center;
    width: 100%;
    flex-wrap: wrap;
}

.sub_content_input {
    position: relative;
    display: flex;
    align-items: center;
    width: 400px;
    height: 68px;
}

.sub_content_input img {
    position: absolute;
    left: 30px;
}

.sub_content_input input {
    padding-left: 65px; /* Место под иконку */
    height: 60px;
    min-width: 300px;
    background-color: #FFFFFF;
    font-size: 14px;
    border: none;
    border-radius: 10px;
    line-height: auto;
    color: #39425D;
    font-weight: 500;
    outline: none;
    font-family: 'Google-Sans', sans-serif;
}

.sub_content button {
    height: 60px;
    padding: 0 40px;
    margin-top: 5px;
    border: none;
    border-radius: 10px;
    background: linear-gradient(180deg, #FF946D 0%, #FF7D68 100%);
    cursor: pointer;
    font-family: 'Google-Sans', sans-serif;
    font-weight: 600;
    font-size: 17px;
    line-height: auto;
    color:#FFFFFF;
    transition: transform 0.3s;
}

.sub_content button:hover {
  transform: translateY(-2px);
  box-shadow: 0px 10px 20px rgba(255, 125, 104, 0.3);
}

.Decore_sub{
    position: absolute;
    right: 0;
    bottom: -70px;
    z-index: -1;
}



/*smdgmsrs;mglrksfoefsoepkfoseofpkoesf[mospekfokspekfpskepfkpskeopfk*/


footer {
    width: 100%;
}

.footer_container {
    max-width: 75rem;
    margin: 0 auto;
    display: flex;
    justify-content: space-between;
    align-items: flex-start;
    flex-wrap: wrap;
    gap: 1.875rem;
    padding: 0 1.25rem;
    font-family: "Poppins", sans-serif;
    font-weight: 500;
    line-height: 124.5%;
    font-size: 1.125rem;
}

.company {
    max-width: 13rem;
}

.company h2 {
    line-height: auto;
    font-size: 2.75rem;
    color: #181E4B;
    max-width: 9.5rem;
    margin-bottom: 0;
    letter-spacing: 0%;
}

.company p{
    max-width: 12.9375rem;
    color: #5E6282;
    font-size: 0.8125rem;
}

.conpany_nav {
    display: flex;
    justify-content: space-between;
    min-width: 25rem;
    gap: 1.20rem;
}

.conpany_nav ul {
    list-style: none;
    padding: 0;
    margin: 0;
    color: #5E6282;
}

.conpany_nav li {
    margin-bottom: 0.75rem;
    list-style: none;
}

.conpany_nav ul a {
    text-decoration: none; 
    color: inherit; 
}


.outbound {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    min-width: 12.5rem;
}

.outbound_ikon {
    display: flex;
    gap: 0.9375rem;
    margin-bottom: 0.9375rem;
}

.outbound_ikon img {
    object-fit: contain;
}

.outbound_store {
    display: flex;
    gap: 0.625rem;
    margin-top: 0.625rem;
}

.outbound_store img {
    height: 2.1875rem;
}

.conpany_nav_1 h3, .conpany_nav_2 h3, .conpany_nav_3 h3{
    margin-bottom: 2.8125rem;
    font-weight: 700;
    font-size: 1.3125rem;
    color: black;
}

.outbound p{
    font-size: 1.25rem;
    letter-spacing: 0.5%;
    color: #5E6282;
}

.footer_copyright {
    text-align: center;
    width: 100%;
    font-size: 0.875rem;
    margin-top: 5rem;
    height: 1.0625rem;
    color: #5E6282;
}

/*озщагкщзывчфчымщокугвзеощи84уецгпкур7геор90пщш8кгв9ое8п0к9ое90тпкг9уг09екыгн90гк9згн9вк8г9нзщхлепг90ехалшк*/

@media screen and (max-width: 1200px) {
    
    .header {
        padding: 3rem 5rem 0 5rem;
    }

    .decore1{
        width: 100%;
        top: -100px;
        left: 42%;
    } 

    .hero { 
        min-height: auto;
        display: flex;
        flex-direction: column;  
    }

    .hero_content{
        flex-wrap: wrap;
        padding-left: 0px;
    }

    .hero__image {
        position: static; 
        max-width: 45%;
        display: none;
    }
  
    .hero_text {
        max-width: 800px;
        padding: 110px 0 100px ;
    
    }

    .hero_text h2{
        font-size: 8vw; 
        line-height: 1.3;
    }

    .btn-signup{
        min-width: 80px;
    }

    .testimonials_2{
        max-width: 470px;
    }

    .services_content {
        width: 100%;
        max-width: 1140px; 
        padding: 60px 0 40px 0;
    }

    .services_content h3 {
        font-size: 50px;
        margin-bottom: 40px;
    }

    .best__services {
        flex-wrap: wrap;
        gap: 40px 30px; 
    }

    .services__card {
        flex: 1 1 210px;
        max-width: 240px;
    }

    .services__card--featured {
        max-width: 240px;
        padding: 40px 10px;
    }

    .Dest__Decore{
        display: none;
    }

    .services__decore {
        left: -39px;
        bottom: -110px;
        max-width: 130%;
    }
    
    .Book-section {
        width: 100%;
    }

    .Book_content {
        width: 100%;
        margin-left: 35px;
    }
    
    .Book_image_image{
        width: 100%; 
        height: auto;
        width: 565px;
    }

    .step_text p {
        max-width: 730px;
        font-size: 2.2vw; 
    }

    .testimonials {
        max-width: 1100px;
        margin-top: 160px;
        margin-left: 40px;
    }

    .testimonials_2{
        margin-left: 30px;
    }

    .testimonials_2_1, .testimonials_2_2 {
        width: 430px;
    }

    .testimonials_1 h3{
        max-width: 409px;
        font-size: 45px;
        margin-bottom: 20px;
    }

    .Pagination {
        right: -130px;
    }
    
    .sub {
        max-width: 100%;
    }

    .sub1{
        width: 100%;
        margin-bottom: 66px;
    }

    .subscribe {
        width: 95%;
        height: auto;
    }

    .subscribe h2 {
        max-width: 80%;
        font-size: 2.7vw;
        line-height: 1.3;
        margin-left: 90px;
    }

    .sub_content {
        padding-bottom: 30px;
    }

    .sub_content_input{
        width: 350px;
    }

    .Decore_sub{
        display: none;
    }

    .outbound {
        gap: 60px;
        flex-direction: row;
        flex-wrap: wrap;
    }

    .footer_copyright {
        margin-top: 0;
    }
}


.applications {
    position: fixed; 
    top: 0; 
    left: 0; 
    width: 100%;
    height: 100%;
    background-color: rgba(22, 1, 1, 0.7); 
}

.application {
    position: absolute; 
    top: 50%; 
    left: 50%;
    transform: translate(-50%, -50%);
    max-width: 525px;
    width: 100%;
    padding: 10px 20px; 
    background-color: #f0cba3; 
    color: #fff; 
    font-family: 'Poppins', sans-serif;
    border-radius: 20px;
}

.application_wrap {
    font-size: 36px; 
    color: #43043c;
    font-family: 'Volkhov', sans-serif;
    margin: 0;
}

.application_wrap h2{
    margin: 4px 0 20px 0;
}

.application_form {
    width: 500px; 
    display: flex;
    flex-direction: column;
    row-gap: 10px; 
    margin-bottom: 20px;
}

.application_close {
    position: absolute; 
    top: 8%; 
    right: 5%; 
    padding: 10px; 
    min-width: 120px;
    min-height: 50px;
    font-size: 18px;
    background-color: #3d0036; 
    border: none;
    outline: none;
    color: #fff; 
    border-radius: 20px;
    font-family: 'Volkhov', sans-serif;
    transition: transform 0.5s;
}

.application_close:hover{
    transform: scale(1.05);
}

.application__input {
    border: none;
    outline: none;
    font-size: 18px;
    min-height: 50px;
    border-radius: 18px;
    padding-left: 20px;
}
.application__submit {
    margin-top: 10px;
    min-height: 50px;
    font-size: 18px;
    background-color: #43043c;
    color: #fff;
    border: none;
    border-radius: 18px;
    font-family: 'Poppins', sans-serif;
    cursor: pointer;
    transition: transform 0.5s, background-color 0.5s;
}

.application__submit:hover {
    background-color: #5c0853;
    transform: scale(1.01);
}