@font-face {
    font-family: 'Google-Sans';
    src: url(..//fonts/sans/GoogleSans-Regular.woff2) format('woff2'),
    url(..//fonts/sans/GoogleSans-Regular.woff) format('woff');
    font-weight: 400;
    font-style: normal;
}

@font-face {
    font-family: 'Google-Sans';
    src: url(..//fonts/sans/GoogleSans-BoldItalic.woff2) format('woff2'),
    url(..//fonts/sans/GoogleSans-BoldItalic.woff) format('woff');
    font-weight: 700;
    font-style: italic;
}

@font-face {
    font-family: 'Google-Sans';
    src: url(..//fonts/sans/GoogleSans-Italic.woff2) format('woff2'),
    url(..//fonts/sans/GoogleSans-Italic.woff) format('woff');
    font-weight: 400;
    font-style: italic;
}

@font-face {
    font-family: 'Google-Sans';
    src: url(..//fonts/sans/GoogleSans-Medium.woff2) format('woff2'),
    url(..//fonts/sans/GoogleSans-Medium.woff) format('woff');
    font-weight: 500;
    font-style: normal;
}

body {
    /* Если шрифт не подгрузился, используем системный без засечек */
    font-family: 'Google-Sans', sans-serif; 
}

.header {
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 47px 138px 0px 140px;
    max-width: 1160px;
    margin: auto;
}

.header__logo img {
    width: 115px;
    height: 34px;
}

.nav-list {
    display: flex;
    list-style: none;
    gap: 40px; 
    margin: 0;
    padding: 0;
}

.nav-list a {
    font-family: 'Google-Sans', sans-serif; 
}

.nav-list__link {
    text-decoration: none;
    color: #212832;
    font-size: 17px;
    max-width: max-content;
    display: inline-block;
    line-height: 40px;
    font-weight: 500;
}

.header__actions {
    display: flex;
    align-items: center;
    gap: 30px;
}

.btn-signup {
    border: 1px solid #212832;
    border-radius: 5px;
    background: transparent;
    font-family: 'Google-Sans', sans-serif;
    font-size: 17px;
    font-weight: 500;
    color: #212832;
    cursor: pointer;
    display: flex;
    align-items: center;
    justify-content: center;
    padding: 0; 
}

.lang-select {
    display: flex;
    align-items: center;
    gap: 5px;
    font-size: 17px;
    font-weight: 500;
    cursor: pointer;
}

.lang-select span {
    width: 23px;
    height: 22px;
    display: inline-block;
}



/*lkfvnfdklgnlkxjvlhfxkxghkkjfhgjfhjghfjkhgjgfjkghkcfjgkfhgjkhfjkghkjcfhjkghcfjkgkhfjkcjk*/

.decore1{
    width: 766px;
    height: 872px;
    position: absolute;
    z-index: -1;
    top: 0;
    right: 0;

} 

.hero_content {
    width: 1200px;
    height: 764px;
    padding: 18px 91px 0px 148px;
    margin-inline: auto;
    position: relative;
}

.hero__image {
    position: absolute;
    top: 0;
    right: -47px;
    padding-top: 18px;
}

.hero_text {
    width: 630px;
    height: 535px;
    padding: 112px 0px 117px 0px;
}

.hero_text h2 {
    color: #DF6951;
    font-size: 20px;
    line-height: auto;
    font-weight: 700px;
    width: 410px;
}

.hero_text h1 {
    color: #181E4B;
    font-size: 84px;
    line-height: 89px;
    font-weight: 700px;
    width: 545px;
    letter-spacing: -4%;
    margin-top: 24px;
}

.hero_text p {
    color: #5E6282;
    font-size: 16px;
    line-height: 30px;
    font-weight: 500px;
    width: 477px;
    margin-top: 30px;
}

.buttons_hero {
    margin-top: 34px;
    display: flex;
    gap: 44px;
    width: 379px;
    height: 60px;
}

.Find {
    color:white;
    width: 170px;
    height: 60px;
    font-weight: 500;
    font-size: 18px;
    padding: 19px 26px 18px 27px;
    background:#F1A501;
    border-radius: 10px;
    border: 0;

}
.Find:hover{
    opacity: 90%;
}

.Play {
    display: flex;
    align-items: center;
    gap: 21px;
    max-width: 165px;
    height: 52px;
    padding: 0px;
    background: 0; /* Убираем серый фон кнопки */
    border: 0; 
}

.Play:hover{
    opacity: 90%;
}

.play__iconka{
    width: 52px;
    height: 52px;
    padding-top: 38px;
    display: flex;
    align-items: center;
    justify-content: center;
    
}

.play__text {
    width: 92px;
    height: 26px;
    padding: 30px 0px 11px 0px;
    white-space: nowrap; 
    font-size: 17px;
    font-weight: 700px;
    color: #686D77;
}